.clsAddOrEditString_divWrapper .clsCmm_fieldTitle
{
	width: 38% !important;
}

.clsAddOrEditString_divWrapper .clsAddOrEditString_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditString_divWrapper .clsAddOrEditString_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditInverterModel_divWrapper .clsCmm_fieldTitle
{
	width: 38% !important;
}

.clsAddOrEditInverterModel_divWrapper .clsAddOrEditInverterModel_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditInverterModel_divWrapper .clsAddOrEditInverterModel_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditInverter_divWrapper .clsCmm_fieldTitle
{
	width: 38% !important;
}

.clsAddOrEditInverter_divWrapper .clsAddOrEditInverter_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditInverter_divWrapper .clsAddOrEditInverter_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsaddoreditpanelmodel_divWrapper .clsaddoreditpanelmodel_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsaddoreditpanelmodel_divWrapper .clsaddoreditpanelmodel_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditPanels_divWrapper .clsAddOrEditPanels_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsAddOrEditPanels_divWrapper .clsAddOrEditPanels_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsaddoreditplants_divWrapper .clsaddoreditplants_SubmitBtn
{
	background: #49BA8E;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}

.clsaddoreditplants_divWrapper .clsaddoreditplants_CancelBtn
{
	background: #c02c3a;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    border: 0px;
}
